.carousel-inner .carousel-item {
    height: 100vh;
}

.carousel-item img{
height: 100%;
object-fit: cover;
}

.card {
  border: 1px solid transparent;
 }

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.btn {
    background-color: rgb(94, 94, 212);
}

.ideas-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.newsletter {
    background: #eff2f5;
  }

  i {
    font-size: 16px;
  }

  .footer {
    background:#d5d8db ;
   
  }

 .footer ul{
    color: rgb(94, 94, 212);
 }

  .newsletter i {
    padding: 5px;
  }